<!-- Will need to remove link element below - stylesheet is linked in index.html file -->

<link type="text/css" rel="stylesheet" href="file:///Users/natejoseph/Documents/0%20-%20Thinkful/Tweetful-Angular/css/style.css"> 
<link type="text/css" rel="stylesheet" href="file:///Users/natejoseph/Documents/0%20-%20Thinkful/Tweetful-Angular/css/index.css"> 

<header class="masthead">
	<h1 class="masthead-heading">Tweetful</h1>
	<p class="masthead-intro">Making The Internet a Little More Thoughtful</p>
</header>

<div class="info-container">
<section class="info">  
  <header>
  	<h1>Barack Obama</h1>
  	<h2>Founder</h2>
  </header>
  <p>
  	Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas faucibus mollis interdum.
  </p>
</section>

<section class="info">  
  <header>
  	<h1>Jackson Pollack</h1>
  	<h2>CEO</h2>
  </header>
  <p>
  	Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas faucibus mollis interdum.
  </p>
</section>

<section class="info">  
  <header>
  	<h1>50 cent</h1>
  	<h2>CTO</h2>
  </header>
  <p>
  	Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas faucibus mollis interdum.
  </p>
</section>
</div>

<footer>
	
</footer>